html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    background: white;
}

.sidebar {
    height: 100%;
    width: 15%;
    scroll-behavior: auto;
}

.sidebar .listing {
    font-family: Consolas, Lucida Console, Monaco, monospace;
    font-size: 11pt;
    height: 75%;
    white-space: nowrap;
    background: whitesmoke;
    overflow: scroll;
    scroll-behavior: auto;
}

.sidebar .aboutlabel {
    height: 2%;
    padding-left: 1em;
    padding-right: 1em;
    background: crimson;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: auto;
}

.sidebar .about {
    height: 2%;
    padding-left: 1em;
    padding-right: 1em;
    background: crimson;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: auto;
}

.sidebar .infobox {
    text-align: center;
    height: 18%;
    background: gainsboro;
    overflow: hidden;
    scroll-behavior: auto;
}

.infobox .infobar {
    width: 100%;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: gainsboro;
}

.infobox .infotext {
    width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background: aliceblue;
}

.chart {
    height: 100%;
    width: 85%;
    background: white;
    overflow: hidden;
}

.chart .loading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 128pt;
}

input[type=button] {
    padding: 0;
    background:#ccc; 
    cursor:pointer;
    width: 10%;
    height: 100%;
    vertical-align: middle;
}

input[type=text] {
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-size: 14pt;
    vertical-align: middle;
  }

ol {
    padding-left: 2.5em;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
    text-decoration: underline;
}

.listing .listingTitle {
    display: block;
    padding-top: .3em;
    position: fixed;
    background: white;
    width: 15%;
    text-align: center;
    height: 1.5em;
}

.listing .listingList {
    margin-top: 1.8em;
    display: block;
}

.sidebar .inputbox {
    position: relative;
    width: 100%;
    height: 3%;
}

.autocomplete-items {
    font-family: Consolas, Lucida Console, Monaco, monospace; 
    position: absolute;
    border: 1px solid gainsboro;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: white; 
    border-bottom: 1px solid gainsboro; 
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: lightgray; 
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: skyblue !important; 
    color: #ffffff; 
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: gainsboro; 
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: skyblue; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blueviolet; 
}

.js-plotly-plot .plotly .cursor-move {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}